// Height

@each $i, $percent in $percent-scale {
		.h-#{$i} {
			height: #{$percent}#{'%'};
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:h-#{$i} {
				height: #{$percent}#{'%'};
			}
		}
	}
}

@each $i, $percent in $percent-scale {
		.mx-h-#{$i} {
			max-height: #{$percent}#{'%'};
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:mx-h-#{$i} {
				max-height: #{$percent}#{'%'};
			}
		}
	}
}

@each $i, $percent in $percent-scale {
		.mn-h-#{$i} {
			min-height: #{$percent}#{'%'};
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:mn-h-#{$i} {
				min-height: #{$percent}#{'%'};
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.h-#{$i} {
			height: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:h-#{$i} {
				height: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.mx-h-#{$i} {
			max-height: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:mx-h-#{$i} {
				max-height: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.mn-h-#{$i} {
			min-height: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:mn-h-#{$i} {
				min-height: #{$measure}rem;
			}
		}
	}
}

@each $i, $percent in $percent-scale {
		.hv-#{$i} {
			height: #{$percent}vh;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:hv-#{$i} {
				height: #{$percent}vh;
			}
		}
	}
}

@each $i, $percent in $percent-scale {
		.mx-hv-#{$i} {
			max-height: #{$percent}vh;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:mx-hv-#{$i} {
				max-height: #{$percent}vh;
			}
		}
	}
}

@each $i, $percent in $percent-scale {
		.mn-hv-#{$i} {
			min-height: #{$percent}vh;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $percent in $percent-scale {
				.#{$sel}\:mn-hv-#{$i} {
				min-height: #{$percent}vh;
			}
		}
	}
}
