// Margin

@each $i, $measure in $rhythm-scale {
		.ma-#{$i} {
			margin: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:ma-#{$i} {
				margin: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-ma-#{$i} {
			margin: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-ma-#{$i} {
				margin: -#{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.mh-#{$i} {
			margin-left: #{$measure}rem;
			margin-right: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:mh-#{$i} {
				margin-left: #{$measure}rem;
			margin-right: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.mv-#{$i} {
			margin-top: #{$measure}rem;
			margin-bottom: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:mv-#{$i} {
				margin-top: #{$measure}rem;
			margin-bottom: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.mt-#{$i} {
			margin-top: #{$measure}rem;
		}

		.mr-#{$i} {
			margin-right: #{$measure}rem;
		}

		.mb-#{$i} {
			margin-bottom: #{$measure}rem;
		}

		.ml-#{$i} {
			margin-left: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:mt-#{$i} {
				margin-top: #{$measure}rem;
			}

				.#{$sel}\:mr-#{$i} {
				margin-right: #{$measure}rem;
			}

				.#{$sel}\:mb-#{$i} {
				margin-bottom: #{$measure}rem;
			}

				.#{$sel}\:ml-#{$i} {
				margin-left: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-mt-#{$i} {
			margin-top: -#{$measure}rem;
		}

		.-mr-#{$i} {
			margin-right: -#{$measure}rem;
		}

		.-mb-#{$i} {
			margin-bottom: -#{$measure}rem;
		}

		.-ml-#{$i} {
			margin-left: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-mt-#{$i} {
				margin-top: -#{$measure}rem;
			}

				.#{$sel}\:-mr-#{$i} {
				margin-right: -#{$measure}rem;
			}

				.#{$sel}\:-mb-#{$i} {
				margin-bottom: -#{$measure}rem;
			}

				.#{$sel}\:-ml-#{$i} {
				margin-left: -#{$measure}rem;
			}
		}
	}
}
