// Padding

@each $i, $measure in $rhythm-scale {
		.pa-#{$i} {
			padding: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:pa-#{$i} {
				padding: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.ph-#{$i} {
			padding-left: #{$measure}rem;
			padding-right: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:ph-#{$i} {
				padding-left: #{$measure}rem;
			padding-right: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.pv-#{$i} {
			padding-top: #{$measure}rem;
			padding-bottom: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:pv-#{$i} {
				padding-top: #{$measure}rem;
			padding-bottom: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.pt-#{$i} {
			padding-top: #{$measure}rem;
		}

		.pr-#{$i} {
			padding-right: #{$measure}rem;
		}

		.pb-#{$i} {
			padding-bottom: #{$measure}rem;
		}

		.pl-#{$i} {
			padding-left: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:pt-#{$i} {
				padding-top: #{$measure}rem;
			}

				.#{$sel}\:pr-#{$i} {
				padding-right: #{$measure}rem;
			}

				.#{$sel}\:pb-#{$i} {
				padding-bottom: #{$measure}rem;
			}

				.#{$sel}\:pl-#{$i} {
				padding-left: #{$measure}rem;
			}
		}
	}
}
