// Position

.abs {
	position: absolute;
}

.fix {
	position: fixed;
}

.rel {
	position: relative;
}

.sta {
	position: static;
}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
		.#{$sel}\:abs {
			position: absolute;
		}

		.#{$sel}\:fix {
			position: fixed;
		}

		.#{$sel}\:rel {
			position: relative;
		}

		.#{$sel}\:sta {
			position: static;
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.t-#{$i} {
			top: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:t-#{$i} {
				top: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-t-#{$i} {
			top: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-t-#{$i} {
				top: -#{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.r-#{$i} {
			right: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:r-#{$i} {
				right: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-r-#{$i} {
			right: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-r-#{$i} {
				right: -#{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.b-#{$i} {
			bottom: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:b-#{$i} {
				bottom: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-b-#{$i} {
			bottom: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-b-#{$i} {
				bottom: -#{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.l-#{$i} {
			left: #{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:l-#{$i} {
				left: #{$measure}rem;
			}
		}
	}
}

@each $i, $measure in $rhythm-scale {
		.-l-#{$i} {
			left: -#{$measure}rem;
		}
	}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
@each $i, $measure in $rhythm-scale {
				.#{$sel}\:-l-#{$i} {
				left: -#{$measure}rem;
			}
		}
	}
}
