// Z Index

.z-a {
	z-index: auto;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 10;
}

.z-2 {
	z-index: 20;
}

.z-3 {
	z-index: 30;
}

.z-4 {
	z-index: 40;
}

.z-5 {
	z-index: 50;
}

.z-max {
	z-index: max;
}

@each $sel, $size in $breakpoints {
	@media(min-width: #{$size}) {
		.#{$sel}\:z-a {
			z-index: auto;
		}

		.#{$sel}\:z-0 {
			z-index: 0;
		}

		.#{$sel}\:z-1 {
			z-index: 10;
		}

		.#{$sel}\:z-2 {
			z-index: 20;
		}

		.#{$sel}\:z-3 {
			z-index: 30;
		}

		.#{$sel}\:z-4 {
			z-index: 40;
		}

		.#{$sel}\:z-5 {
			z-index: 50;
		}

		.#{$sel}\:z-max {
			z-index: max;
		}
	}
}
