// reset form inputs

button, input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}
